.user-header {
    min-height: 100vh;
    background: url(../../assets/images/user-background.jpg) no-repeat center center / cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark shadow overlay */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
}
